{% extends "base.html" %}
{% block content %}
<h1 style="text-align:center">Add a Blog Entry</h1>

<form method = "POST">
    <label>
        Title for your new blog:
        <br>
        <input type="text" name="title"/>
        <span class="error" style="color:red"><i>{{title_error}}</i></span>
    </label>
    <br>
    <br>
    <label>
        Your new post:
        <br>
        <textarea type="text" name="blog-body" rows="10" cols="50"></textarea>
        <span class="error" style="color:red"><i>{{body_error}}</i></span>
    </label>
    <br>
    <input type='submit' value='Post it!' />
</form>




{% endblock %}